@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap');

* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
	font-family: var(--roboto);
}

:root {
	--abel: 'Abel', sans-serif;
	--roboto: 'Roboto', sans-serif;
	--lobster: 'Lobster Two', cursive;
	--yellow: #fff01e;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: var(--abel);
	font-weight: bold;
}

html {
	scroll-behavior: smooth;
}

body {
	position: relative;
}

header,
section,
footer {
	overflow-x: hidden;
	transition: .3s ease;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-ms-transition: .3s ease;
	-o-transition: .3s ease;
}

section {
	padding-top: 70px;
}

section .section-header>h1 {
	padding-bottom: 1em;
	color: var(--yellow);
	text-shadow: 0px 3px 6px black;
}

/* ============HEADER SECTION============== */

.header-bg {
	background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/t-2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;
}

.navbar {
	padding: .5em 0em;
	position: fixed;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 10;
	border-bottom: 3px solid var(--yellow);
}

.navbar-brand h1 {
	color: var(--yellow) !important;
	font-family: var(--lobster) !important;
	font-style: italic;
	font-size: 22px;
}

.navbar-toggler span i {
	color: var(--yellow);
	border: 2px solid var(--yellow);
	z-index: 11;
	margin: 0;
	padding: 7px 10px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

.scroll {
	background-color: rgb(22, 22, 22);
}

nav .navbar-nav .nav-item .nav-link {
	padding: 0 !important;
	margin: .8em .8em;
	color: whitesmoke !important;
	position: relative;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 13px !important;
	display: flex;
	border-bottom: 2px solid transparent;
	justify-content: center;
	transition: .3s ease;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-ms-transition: .3s ease;
	-o-transition: .3s ease;
}

nav .navbar-nav .nav-item .active.nav-link,
nav .navbar-nav .nav-item .nav-link:hover {
	color: var(--yellow) !important;
	border-bottom: 2px solid var(--yellow);
}

.header-text {
	padding-top: 11em;
	color: whitesmoke;
}

header h1 {
	font-size: 3em;
	padding: 3px 0px;
	margin: 0;
}

.btn-right {
	background-color: var(--yellow);
	padding: 1em 2em;
	color: rgb(0, 0, 0);
	margin-right: 1em;
	font-weight: bold;
	margin-top: 1em;
	border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	-ms-border-radius: 2em;
	-o-border-radius: 2em;
}

.btn-right:hover {
	background-color: transparent;
	border: 1px solid var(--yellow);
	color: whitesmoke;
}

.btn-left {
	background-color: transparent;
	border: 1px solid var(--yellow);
	padding: 1em 2em;
	color: whitesmoke;
	margin-left: 1em;
	font-weight: bold;
	margin-top: 1em;
	border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	-ms-border-radius: 2em;
	-o-border-radius: 2em;
}

.btn-left:hover {
	background-color: var(--yellow);
	color: rgb(0, 0, 0);
}

/* START ABOUT SECTION */
.about {
	padding-bottom: 20px;
}

.row .col-md-6>img {
	width: 100%;
	height: 80%;
	padding: 1em;
	margin-bottom: 1em;
	box-sizing: border-box;
	border: 3px solid transparent;
	outline: 3px solid var(--yellow);
}

.about .container .row .col-md-6 .ab-penal {
	background-color: white;
	padding: 2em 3em;
	border-radius: 5px;
}

/* ==========SERVICE SECTION========= */
.service_bg {
	background-image: url(../img/t-2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 30px 0 !important;
}

.service_block .card {
	border: none;
	background-color: rgb(255, 255, 255);
	box-shadow: inset 0px 0px 16px 3px #ffc107;
	padding: 10px 0px;
	cursor: pointer;
	border: 3px solid var(--yellow);
	transition: .3s ease-in-out;
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-ms-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
}

.service_block .card:hover {
	transform: translateY(-10px);
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	-o-transform: translateY(-10px);
}

.service_block .card:hover .service_icon {
	color: rgb(224, 202, 1);
}

.service_icon i {
	background-color: rgb(255, 255, 255);
	padding: 8px 0px;
	width: 50px;
	margin-top: 10px;
	color: #ffe600;
	background-color: rgb(248, 248, 248) !important;
}

.service_block .card-body p {
	color: rgb(151, 151, 151);
}

/* ==========OUR TEAM MEMBERS=========== */
.section-team {
	padding-bottom: 20px !important;
}

.item {
	border: 2px solid var(--yellow);
	width: 90%;
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .6);
	margin-bottom: 10px;
}

.item .team .card .card-img-top {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 10px 20px;
	background: var(--yellow);
	clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
}

.item .team .card .card-img-top>img {
	width: 50%;
	height: 50%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.section-team .card .card-body .card-title {
	font-size: 1.5em;
	font-weight: 800;
}

.section-team .card .card-body .card-text {
	color: rgb(77, 77, 77);
}

.section-team .card .card-body hr {
	height: 3px;
	background-color: var(--yellow);
}

.section-team .card .card-body .card-des {
	color: #6d6d6d;
}

.section-team .card .card-footer {
	background-color: rgb(48, 48, 48);
}

.section-team .card .card-footer a i {
	color: var(--yellow);
	background-color: black;
	padding: 0;
	font-size: 30px;
	margin: .3em;
}

.owl-dot span {
	background: var(--yellow) !important;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background: #000000 !important;
}

/* react section */
.react .react-header {
	background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/t-2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	padding: 6em 0em 10em 0em;
}

.react .react-header h1 {
	color: whitesmoke;
	font-size: 3.5em;
	text-transform: uppercase;
}

.react-header p {
	color: white;
}

.react .container .box {
	margin-top: -7em;
}

section .box .react-inner {
	position: relative;
	height: 12em;
	width: 15em;
	margin: 1em;
	padding: 4em 3em 3em 3em;
	z-index: 2;
	background-color: whitesmoke;
	box-shadow: 0px 0px 15px 4px var(--yellow);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

section .box .react-inner h1 {
	color: rgb(17, 17, 17);
	font-size: 2em;
	font-family: var(--lobster);
}

/* ===========START BLOG SECTION============= */
.blog-section .card {
	border: 2px solid var(--yellow);
	box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, .6);
	margin-bottom: 20px;
}

.blog-section .card-text {
	color: rgba(105, 105, 105, 0.867);
}

/* ===========START BLOG SECTION============= */
.gullary-btn .btn {
	text-decoration: none;
	color: rgb(22, 22, 22);
	background-color: var(--yellow);
	padding: 15px 40px;
	font-weight: bold;
	font-family: var(--abel);
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
}

/* contact section */
.contnct .container {
	width: 80%;
}

.contnct .container .btn {
	width: 100%;
	display: flex;
	justify-content: center;
}

.contnct .container .btn a {
	text-decoration: none;
	color: rgb(22, 22, 22);
	background-color: var(--yellow);
	padding: 15px 40px;
	font-weight: bold;
	font-family: var(--abel);
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
}

/* end contact section */
/* ============START FOOTER============ */

footer {
	background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../img/world-map-background\ \(1\).jpg);
}

footer .f-contact h3 a:hover {
	text-decoration: none;
}

footer .f-contact h3 a {
	color: #fff01e !important;
}

footer .f-contact p {
	color: #616161;
}

footer .f-contact {
	padding-top: 3em;
}

footer .f-map {
	padding-top: 3em;
}

footer .f-map h4 {
	color: #fff01e;
}

footer .f-menu {
	padding-top: 3em;
}

footer .f-menu h4 {
	color: #fff01e;
}

footer .f-menu p a {
	text-decoration: none;
	color: #696969;
}

footer .f-menu p a:hover {
	color: #d4d4d4;
	text-decoration: none;
}

footer .subscrib {
	padding-top: 3em;
}

footer .subscrib h4 {
	color: #fff01e;
}

footer .subscrib label {
	color: #616161;
}

footer .subscrib input {
	background-color: transparent;
	outline: none;
	border: 2px solid #fff01e;
}

footer .subscrib input::placeholder {
	color: #e9e9e9 !important;
}

footer .input-group-append {
	background-color: #bbae00;
}

footer .social-link a i {
	font-size: 25px;
	color: #bbae00;
	margin: 5px;
}

footer .btn {
	background-color: #fff01e;
}

footer .btn i {
	color: black;
	z-index: 1;
}